@(thesisForm: Form[Thesis])

@import helper._

@main("Neue Abschlussarbeit anlegen") {
    
    
    <script>
  			$(document).ready(function(){
  				$('.datepicker').datepicker({format: 'yyyy-mm-dd',
  											 weekStart: 1,
  											 autoclose: true,
  											 todayHighlight: true});
  			});
  					
  	</script>
    
    
    
    
    <h3>Abschlussarbeit erzeugen</h3>
    
    @if(thesisForm.hasGlobalErrors) {
			<p class="error">
				@thesisForm.globalError.message
			</p>
		}
    
    <div class="panel panel-primary">
    	<div class="panel-heading">Geben Sie hier die Daten zur Abschlussarbeit ein</div>
    
    	@form(routes.Application.newThesis()) {
        
        	<div class="row">
  				<div class="col-lg-4">
        			@select(thesisForm("type"), options=options(Seq("Bachelor","Master")), '_default -> "Bitte wählen", '_label -> "Art der Arbeit", 'class ->"form-control")
				</div>
			</div>
			<div class="row">
  				<div class="col-lg-4">
        			@inputDate(thesisForm("startDate"), 'class -> "datepicker form-control input-small", '_label -> "Startdatum")
        		</div>
        	</div>
        	<div class="row">
  				<div class="col-lg-4">
        	@inputText(thesisForm("topic"), 'class -> "form-control", '_label -> "Thema")
        		</div>
       		</div>
        	<input type="submit" value="Anlegen" class="btn btn-primary">
        
    }
    
    </div>
    
}
