@(thesisForm: Form[Thesis])

@import helper._

@main("Welcome to Play 2.1") {
    
    <h2>Abschlussarbeit erzeugen</h2>
    
    <script>
  			$(document).ready(function(){
  				$('.datepicker').datepicker({format: 'yyyy-mm-dd',
  											 weekStart: 1,
  											 autoclose: true,
  											 todayHighlight: true});
  			});
  					
  	</script>
    
    
    @form(routes.Application.newThesis()) {
        
        Art der Arbeit: 
        <select name="type">
  			<option value="Bachelor">Bachelor</option>
  			<option value="Master">Master</option>
		</select>
        
        @inputDate(thesisForm("startDate"), 'class -> "datepicker")
        
        @inputText(thesisForm("topic"))
        
        <input type="submit" value="Anlegen">
        
    }
    
}
